<div class="container">
  <div class="form login">
    <div class="form-content">
        <header>User Registration</header>
        <form [formGroup]="registerForm">
            <div class="field input-field">
              <input type="text" formControlName="userName" placeholder="UserName" class="input">
              <div *ngIf="submitted && f['userName'].errors" style="color: red;">
                <div *ngIf="f['userName'].errors['required']">Username is required</div>
            </div>
            </div>
            <div class="field input-field">
                <input type="email" formControlName="email" placeholder="Email" class="input">
                <div *ngIf="submitted && f['email'].errors" style="color: red;">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">Invalid email</div>
              </div>
            </div>
            <div class="field input-field">
                <input type="password" formControlName="password" placeholder="Password" class="password">
                <i class='bx bx-hide eye-icon'></i>
                <div *ngIf="submitted && f['password'].errors" style="color: red;">
                  <div *ngIf="f['password'].errors['required']">Password is required</div>
                  <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
                  <div *ngIf="f['password'].errors['maxlength']">Password must not exceed 20 characters</div>
              </div>
            </div>
            <div class="field button-field">
                <button (click)="register()">Registration</button>
            </div>
        </form>
    </div>
  </div>
</div>
