<div class="homepage">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-title">
          <h5 class="text-uppercase mb-0">Manage Users</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table no-wrap user-table mb-0">
              <thead>
                <tr>
                  <th scope="col" class="text-uppercase font-medium">#</th>
                  <th scope="col" class="text-uppercase font-medium">
                    User Name
                  </th>
                  <th scope="col" class="text-uppercase font-medium">Email</th>
                </tr>
              </thead>
              <tbody>
                @for(user of users; track user.id){
                <tr>
                  <td>{{ user.id }}</td>
                  <td>
                    <span class="text-muted">{{ user.userName }}</span>
                  </td>
                  <td>
                    <span class="text-muted">{{ user.email }}</span
                    ><br />
                  </td>
                </tr>
                }@empty {
                <tr>
                  <td colspan="3" class="text-center">No data found!</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
